<div id="grid">
  <app-searchbar id="searchbar" [bookmarks]="bookmarks"></app-searchbar>
  <app-video-view id="video-view"></app-video-view>
  <div id="left-side">
    <div id="nav">
      <h3 [ngClass]="{ active: isHistoryDisplayed }" (click)="changeDisplay($event)">
        History
      </h3>
      <h3 [ngClass]="{ active: !isHistoryDisplayed }" (click)="changeDisplay($event)">
        Bookmarks ({{ bookmarks.length }})
      </h3>
    </div>
    <app-history id="history" *ngIf="isHistoryDisplayed"></app-history>
    <app-bookmarks id="bookmarks" *ngIf="!isHistoryDisplayed" [bookmarks]="bookmarks"></app-bookmarks>
  </div>
</div>